<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo - Login</title>
    <link rel="stylesheet" href="/assets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />
  </head>
  <body>
    <main class="bg-gray-100" id="app">
      <Login></Login>
    </main>
    <script src="/assets/index.js"></script>
  </body>
</html>